extends layout 

block content
    .w3-card-4
        header.w3-container.w3-blue-gray
            h1 Modificar Notas

    form.w3-container(id="searchForm1" method="POST")
        fieldset.w3-light-gray.w3-margin-top
            .w3-section
                label.w3-text-black(style="font-weight: bold;") ID da Aluno: 
                |  #{aluno}  

            .w3-section
                label.w3-text-black(style="font-weight: bold;") Nota do projeto:  
                input.w3-input.w3-border(name=`notaProjeto-${notas.projeto}` id=`notaProjeto-${notas.projeto}` placeholder="Insira a nota do projeto" value=notas.projeto)

            .w3-section
                label.w3-text-black(style="font-weight: bold;") Nota do teste:  
                input.w3-input.w3-border(name=`notaTeste-${notas.teste}` id=`notaTeste-${notas.teste}` placeholder="Insira a nota do teste" value=notas.teste)

            .w3-section
                label.w3-text-black(style="font-weight: bold;") Nota do exame:  
                input.w3-input.w3-border(name=`notaExame-${notas.exame}` id=`notaExame-${notas.exame}` placeholder="Insira a nota do exame" value=notas.exame)

                button.w3-button.w3-blue-gray.w3-right(type="submit") Submeter 

        footer.w3-container.w3-blue-gray
            h4.w3-center WhiteBoard, Jun 2024 - Powered by 
                a(href="https://www.w3schools.com/w3css/default.asp") w3.css